<!DOCTYPE html>
{% load static %}
{% load zadatha %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="CRMS - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
		
		

		{% block page_title %}
    	{% endblock %}
	
		{% block page_styles %}
    	{% endblock %}
		
		<!-- Favicon href="{% static "CRMmain/pmo.png" %}" -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static "CRMmain/assets/img/favicon.png" %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static "CRMmain/assets/css/bootstrap.min.css" %}" >
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static "CRMmain/assets/css/font-awesome.min.css" %}" >

        <!--font style-->
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap" %}"  rel="stylesheet">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="{% static "CRMmain/assets/css/line-awesome.min.css" %}" >

        <!-- Select2 CSS -->
		<link rel="stylesheet" href="{% static "CRMmain/assets/css/select2.min.css" %}" >

        <!-- Datetimepicker CSS -->
		<link rel="stylesheet" href="{% static "CRMmain/assets/css/bootstrap-datetimepicker.min.css" %}" >

        <!-- Datatable CSS -->
		<link rel="stylesheet" href="{% static "CRMmain/assets/css/dataTables.bootstrap4.min.css" %}" >

		<!-- Theme CSS -->
        <link rel="stylesheet" href="{% static "CRMmain/assets/css/theme-settings.css"  %}" >

		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static "CRMmain/assets/css/style.css" %}" >

      
    </head>
    <body id="skin-color" class="inter">
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header" id="heading">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="{% url 'CRMmain:my_prod' %}" class="logo">
						<img src="{% static "CRMmain/assets/avisma.png" %}"  width="145" height="60"  alt="Logo" class="sidebar-logo">
						<img src="{% static "CRMmain/assets/avisma.png" %}"  width="145" height="60"  alt="Logo" class="mini-sidebar-logo">
					</a>
                </div>
				<!-- /Logo -->
				
				<a id="toggle_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				
				<!-- Header Title -->
                <div class="page-title-box">
					<div class="top-nav-search">
							<a href="javascript:void(0);" class="responsive-search">
								<i class="fa fa-search"></i>
						   </a>
							<form action="#">
								<input class="form-control" type="text" placeholder='Поиск'>
								<button class="btn" type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>
                </div>
				<!-- /Header Title -->
				
				<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
				
				<!-- Header Menu -->
				<ul class="nav user-menu">
				
					<!-- Search -->
					<li class="nav-item">
						
					</li>
					<!-- /Search -->
				
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
							<img src="{% static "CRMmain/assets/img/flags/ru.png" %}"  alt="" height="20"> <span>Русский</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static "CRMmain/assets/img/flags/us.png"  %}"alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static "CRMmain/assets/img/flags/de.png" %}" alt="" height="16"> German
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static "CRMmain/assets/img/flags/ru.png" %}" alt="" height="16"> Русский
							</a>
						</div>
					</li>
					<!-- /Flag -->
				
					<!-- Notifications -->
					<li class="nav-item dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fa fa-bell-o"></i> <span class="badge badge-pill"> {{  user|mainpagecount }} </span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Уведомлени</span>
								<a href="javascript:void(0)" class="clear-noti" hidden> Clear All </a>
							</div>
							<div class="noti-content">
								{% for elem in user|mainpage %}
								<ul class="notification-list">
									<li class="notification-message" style="{{ elem.srok|datatimefilss }}"  >
										<a href="{% url 'CRMzadacha:mytask' %}">
											<div class="media">
												<span class="avatar">
													<img alt="" src="assets/img/profiles/avatar-02.jpg">
												</span>
												<div class="media-body">  
													<p class="noti-details"><span class="noti-title">{% if elem.projects  %} {{ elem.projects.title }} {% else %}  {{ elem.zakaz.title }} {% endif %}  </span> {{elem.title}} <br> <span class="noti-title">{{ elem.zada|truncatechars:55  }}</span></p>
													<p class="noti-time"><span class="notification-time">{{ elem.srok }}</span></p>
												</div>
											</div>
										</a>
									</li>
									
								</ul>
								{% endfor %}
							</div>
							<div class="topnav-dropdown-footer">
								<a href="{% url 'CRMzadacha:mytask' %}">Посмотреть все задачи</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					
					<!-- Message Notifications -->
					<li class="nav-item dropdown" hidden>
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fa fa-comment-o"></i> <span class="badge badge-pill">8</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Messages</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="#">
											<div class="list-item">
												<div class="list-left">
													<span class="avatar">
														<img alt="" src="assets/img/profiles/avatar-09.jpg">
													</span>
												</div>
												<div class="list-body">
													<span class="message-author">Richard Miles </span>
													<span class="message-time">12:28 AM</span>
													<div class="clearfix"></div>
													<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>
												</div>
											</div>
										</a>
									</li>
									
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="#">View all Messages</a>
							</div>
						</div>
					</li>
					<!-- /Message Notifications -->

					<li class="nav-item dropdown has-arrow main-drop">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							
							<span>Пользователь</span>
						</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Мой профиль</a>
							<a class="dropdown-item" href="#">Настройки</a>
							<a class="dropdown-item" href="{% url 'CRMmain:logouto' %}">Выйти</a>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->
				
				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#">Мой профиль</a>
						<a class="dropdown-item" href="#">Настройки</a>
						<a class="dropdown-item" href="{% url 'CRMmain:logouto' %}">Выйти</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
                	<form action="search.html" class="mobile-view">
						<input class="form-control" type="text" placeholder="Поиск">
						<button class="btn" type="button"><i class="fa fa-search"></i></button>
					</form>
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="nav-item nav-profile">
				              <a href="#" class="nav-link">
				                <div class="nav-profile-image">
								  <img src="{% static "CRMmain/assets/img/user.jpg" %}" alt="profile">
				                  
				                </div>
				                <div class="nav-profile-text d-flex flex-column">
				                  <span class="font-weight-bold mb-2"> {{ user.first_name }} </span>
				                  <span class="text-white text-small"> {{ user.last_name }} </span>
				                </div>
				                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
				              </a>
				            </li>
							
							<li class="submenu">
								<a href="#"><i class="fa fa-tachometer" aria-hidden="true"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
								<ul class="sub-menus">
									<li><a href="{% url 'CRMdashbord:mytask' %}">Запросы Dashboard</a></li>
									<li><a href="#">Заказы Dashboard</a></li>
								
								</ul>
							</li>
							<li class="menu-title"> 
								<span>Главное меню</span>
							</li>
							
							<li> 
								<a href="{% url 'CRMcontacts:conall' %}" ><i class="fa fa-address-book-o" aria-hidden="true"></i> <span>Контакты</span></a>
							</li>
							<li> 
								<a href="{% url 'CRMcontacts:kompani_all' %}"><i class="fa fa-building-o" aria-hidden="true"></i> <span>Контрагент</span></a>
							</li>
							<li> 
								<a href="{% url 'CRMmain:my_prod' %}"><i class="fa fa-podcast" aria-hidden="true"></i> <span>Запрос</span>
									{% if user|myLid != 0 %}
									<span class="badge badge-secondary badge-pill">{{  user|myLid }} </span>
								   {% endif %}
								</a>
							</li>
							<li> 
								<a href="{% url 'CRMzakaz:main' %}"><i class="fa fa-cubes" aria-hidden="true"></i> <span>Заказ</span>
									{% if user|myZakaz != 0 %}
									<span class="badge badge-secondary badge-pill">{{  user|myZakaz }} </span>
								   {% endif %}
								</a>
							</li>
							<li> 
								<a href="{% url 'CRMzadacha:mytask' %}"><i class="fa fa-check-square-o" aria-hidden="true"></i> <span>Задачи</span>
									
									{% if user|mainpagecount != 0 %}
									 <span class="badge badge-warning badge-pill">{{  user|mainpagecount }} 									  </span>
									{% endif %}
								
								</a>
							</li>
							<li> 
								<a href="{% url 'CRMdashbord:cal' %}"><i class="fa fa-table" aria-hidden="true"></i> <span>Календарь</span> </a>
							</li>
							<li> 
								<a href="{% url 'CRMdashbord:email' %}"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email</span></a>
							</li>
							
							
							
							
							{% block page_slader %}
   						 	{% endblock %}

						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Основной контент Page Content -->
                <div class="content container-fluid">
					{% block page_contecst %}

					{% endblock %}
					
					

					<!-- /Content End -->
					
                </div>
				<!-- /Page Content -->
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->

		{% block page_contecst_dop %}

		{% endblock %}

		<!-- Modal -->
	
		
				
        <script src="{% static "CRMmain/assets/js/jquery-3.5.0.min.js" %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static "CRMmain/assets/js/popper.min.js" %}"></script>
        <script src="{% static "CRMmain/assets/js/bootstrap.min.js" %}"></script>
		
		<!-- Slimscroll JS -->
		<script src="{% static "CRMmain/assets/js/jquery.slimscroll.min.js" %}"></script>

		<!-- Select2 JS 
		<script src="{% static "CRMmain/assets/js/select2.min.js" %}"></script>
-->
		<!-- Datatable JS -->
		<script src="{% static "CRMmain/assets/js/jquery.dataTables.min.js" %}"></script>
		<script src="{% static "CRMmain/assets/js/dataTables.bootstrap4.min.js" %}"></script>

		<!-- Datetimepicker JS -->
		<script src="{% static "CRMmain/assets/js/moment.min.js" %}"></script>
		<script src="{% static "CRMmain/assets/js/bootstrap-datetimepicker.min.js" %}"></script>

		<!-- theme JS
		<script src="{% static "CRMmain/assets/js/theme-settings.js" %}"></script>
	 -->
		
		<!-- Custom JS -->
		<script src="{% static "CRMmain/assets/js/app.js" %}"></script>

		{% block page_staticjsandcss %}
		{% endblock %}

		
    </body>
</html>