

{% extends 'index.html' %}

<!-- титул  -->
{% block page_title %}
<title> Календарь</title>
{% endblock %}


{% load static %}
{% load mainfilt %}
{% load zadatha %}
<!-- Стили -->
{% block page_styles %}

	 <!-- fullCalendar -->
	<link rel="stylesheet" href="{% static "CRMmain/assets/baise/fullcalendar/fullcalendar.min.css" %}">
	<link rel="stylesheet" href="{% static "CRMmain/assets/baise/fullcalendar/fullcalendar.print.min.css" %}" media="print">	
    
    
    
{% endblock %}

<!-- Слайдер -->
{% block page_slader %}


{% endblock %}

{% block page_contecst %}



<div class="row">
    <div class="col-lg-3 col-12">
        <div class="box-header with-border mt-10 mb-20 pl-0">
          <h4 class="box-title">Календарь</h4>
        </div>				  
      <!-- the events -->
      <div id="external-events">
        <div class="external-event bg-primary" data-class="bg-primary"><i class="fa fa-hand-o-right"></i>Встреча</div>
        <div class="external-event bg-warning" data-class="bg-warning"><i class="fa fa-hand-o-right"></i>Звонок</div>
        <div class="external-event bg-info" data-class="bg-info"><i class="fa fa-hand-o-right"></i>Совещание</div>
        <div class="external-event bg-purple" data-class="bg-purple"><i class="fa fa-hand-o-right"></i> Email </div>
        <div class="external-event bg-danger" data-class="bg-danger"><i class="fa fa-hand-o-right"></i> Заказ </div>
      </div>
      <div class="event-fc-bt">
        <!-- checkbox -->
        <div class="checkbox margin-top-20">
            <input id="drop-remove" type="checkbox">
            <label for="drop-remove">
                Убрать все задачи
            </label>
        </div>
        <a href="#" data-toggle="modal" data-target="#add-new-events" class="btn btn-sm btn-success btn-block margin-top-10">
            <i class="ti-plus"></i>Добавить задачу
        </a>
      </div>
    </div>
    <div class="col-lg-9 col-12">
        <div>
            <div id="calendar"></div>					
        </div>
    </div>
  </div>



  <div class="modal none-border" id="my-event">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><strong></strong></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white waves-effect" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success save-event waves-effect waves-light">Создать задачу</button>
                <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Удалить</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Add Category -->
<div class="modal fade none-border" id="add-new-events">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><strong>Add</strong> a category</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Category Name</label>
                            <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Choose Category Color</label>
                            <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                <option value="success">Success</option>
                                <option value="danger">Danger</option>
                                <option value="info">Info</option>
                                <option value="primary">Primary</option>
                                <option value="warning">Warning</option>
                                <option value="inverse">Inverse</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-white waves-effect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}



{% block page_staticjsandcss %}
<!-- Materiel Admin for calendar -->





		
<script src="{% static "CRMmain/assets/plugins/raphael/raphael.min.js" %}"></script>
<script src="{% static "CRMmain/assets/js/chart.js" %}"></script>
<script src="{% static "CRMmain/assets/js/linebar.min.js" %}"></script>

<script src="{% static "CRMmain/assets/js/apex.min.js" %}"></script>


<script src="{% static "CRMmain/assets/js/app.js" %}"></script>

<!-- Morris.js charts -->
<script src="{% static "CRMmain/assets/baise/raphael/raphael.min.js"%}"></script>
<script src="{% static "CRMmain/assets/baise/morris.js/morris.min.js"%}"></script>




<script src="{% static "CRMmain/assets/baise/fullcalendar/lib/moment.min.js" %}"></script>
<script src="{% static "CRMmain/assets/baise/fullcalendar/fullcalendar.js" %}"></script>


<!-- jQuery 3 -->
<script src="{% static "CRMmain/assets/baise/jquery-3.3.1/jquery-3.3.1.js"  %}" ></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static "CRMmain/assets/baise/jquery-ui/jquery-ui.min.js"  %}" ></script>

	
	<!-- Bootstrap 4.1-->
<script src="{% static "CRMmain/assets/baise/bootstrap/dist/js/bootstrap.min.js"  %}"></script>

<!-- Materiel Admin App -->
<script src="{% static "CRMmain/assets/baise/template.js" %}"></script>

<!-- Chart JS -->
<script src="{% static "CRMmain/assets/baise/morris.js/morris.js" %}"></script>
<!-- SlimScroll -->
<script src="{% static "CRMmain/assets/baise/jquery-slimscroll/jquery.slimscroll.js" %}"></script>

<!-- fullCalendar -->
<script src="{% static "CRMmain/assets/baise/fullcalendar/lib/moment.min.js" %}"></script>
<script src="{% static "CRMmain/assets/baise/fullcalendar/fullcalendar.js" %}"></script>


<script>

//[calendar Javascript]


!function($) {
    "use strict";

    var CalendarApp = function() {
        this.$body = $("body")
        this.$calendar = $('#calendar'),
        this.$event = ('#external-events div.external-event'),
        this.$categoryForm = $('#add-new-events form'),
        this.$extEvents = $('#external-events'),
        this.$modal = $('#my-event'),
        this.$saveCategoryBtn = $('.save-category'),
        this.$calendarObj = null
    };


    /* on drop */
    CalendarApp.prototype.onDrop = function (eventObj, date) { 
        var $this = this;
            // retrieve the dropped element's stored Event Object
            var originalEventObject = eventObj.data('eventObject');
            var $categoryClass = eventObj.attr('data-class');
            // we need to copy it, so that multiple events don't have a reference to the same object
            var copiedEventObject = $.extend({}, originalEventObject);
            // assign it the date that was reported
            copiedEventObject.start = date;
            if ($categoryClass)
                copiedEventObject['className'] = [$categoryClass];
            // render the event on the calendar
            $this.$calendar.fullCalendar('renderEvent', copiedEventObject, true);
            // is the "remove after drop" checkbox checked?
            if ($('#drop-remove').is(':checked')) {
                // if so, remove the element from the "Draggable Events" list
                eventObj.remove();
            }
    },
    /* on click on event */
    CalendarApp.prototype.onEventClick =  function (calEvent, jsEvent, view) {
        var $this = this;
            var form = $("<form></form>");
            form.append("<label> Задача</label>");
            form.append("<div class='input-group'><input class='form-control' type=text value='" + calEvent.title + "' /><span class='input-group-btn'><button type='submit' class='btn btn-success waves-effect waves-light'><i class='fa fa-check'></i> Сохранить</button></span></div>");
            $this.$modal.modal({
                backdrop: 'static'
            });
            $this.$modal.find('.delete-event').show().end().find('.save-event').hide().end().find('.modal-body').empty().prepend(form).end().find('.delete-event').unbind('click').click(function () {
                $this.$calendarObj.fullCalendar('removeEvents', function (ev) {
                    return (ev._id == calEvent._id);
                });
                $this.$modal.modal('hide');
            });
            $this.$modal.find('form').on('submit', function () {
                calEvent.title = form.find("input[type=text]").val();
                $this.$calendarObj.fullCalendar('updateEvent', calEvent);
                $this.$modal.modal('hide');
                return false;
            });
    },
    /* on select */
    CalendarApp.prototype.onSelect = function (start, end, allDay) {
        var $this = this;
            $this.$modal.modal({
                backdrop: 'static'
            });
            var form = $("<form></form>");
            form.append("<div class='row'></div>");
            form.find(".row")
                .append("<div class='col-md-6'><div class='form-group'><label class='control-label'>Задание</label><input class='form-control' placeholder='Название' type='text' name='title'/></div></div>")
                .append("<div class='col-md-6'><div class='form-group'><label class='control-label'>Категория</label><select class='form-control' name='category'></select></div></div>")
                .find("select[name='category']")
                .append("<option value='bg-danger'>Красный</option>")
                .append("<option value='bg-success'>Зеленый</option>")
                .append("<option value='bg-purple'> Фиолетовый </option>")
                .append("<option value='bg-primary'>Голубой</option>")
                .append("<option value='bg-pink'>Розовый</option>")
                .append("<option value='bg-info'>Серый</option>")
                .append("<option value='bg-warning'>Темно серый</option></div></div>");
            $this.$modal.find('.delete-event').hide().end().find('.save-event').show().end().find('.modal-body').empty().prepend(form).end().find('.save-event').unbind('click').click(function () {
                form.submit();
            });
            $this.$modal.find('form').on('submit', function () {
                var title = form.find("input[name='title']").val();
                var beginning = form.find("input[name='beginning']").val();
                var ending = form.find("input[name='ending']").val();
                var categoryClass = form.find("select[name='category'] option:checked").val();
                if (title !== null && title.length != 0) {
                    $this.$calendarObj.fullCalendar('renderEvent', {
                        title: title,
                        start:start,
                        end: end,
                        allDay: false,
                        className: categoryClass
                    }, true);  
                    $this.$modal.modal('hide');
                }
                else{
                    alert('Название для вашей задачи');
                }
                return false;
                
            });
            $this.$calendarObj.fullCalendar('unselect');
    },
    CalendarApp.prototype.enableDrag = function() {
        //init events
        $(this.$event).each(function () {
            // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
            // it doesn't need to have a start or end
            var eventObject = {
                title: $.trim($(this).text()) // use the element's text as the event title
            };
            // store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);
            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });
        });
    }
    /* Initializing */
    CalendarApp.prototype.init = function() {
        this.enableDrag();
        /*  Initialize the calendar  */
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        var form = '';
        var today = new Date($.now());

        var defaultEvents =  [{
                title: 'Встреча!',                
                start: '2017-08-08',
				end: '2017-08-08',
                className: 'bg-info'
            }, {
                title: 'Важная встреча',                
                start: '2017-09-08',
				end: '2017-09-08',
                className: 'bg-info'
            },
              {
                title: 'Подготовка',                
                start: '2017-10-08',
				end: '2017-10-08',
                className: 'bg-danger'
            },{
                title: 'Рассылка',
                start: new Date($.now() + 784800000),
                className: 'bg-success'
            },
            {% for elem in user|mainpage %}

            {
                title: '{{ elem.title }}',
                start: '{{ elem.created|date:"Y-m-d" }}',
                className: 'bg-success'
            },

            {% endfor %}
        
        
        
        
        ];

        var $this = this;
        $this.$calendarObj = $this.$calendar.fullCalendar({
            slotDuration: '00:15:00', /* If we want to split day time each 15minutes */
            minTime: '08:00:00',
            maxTime: '19:00:00',  
            defaultView: 'month',  
            handleWindowResize: true,   
             
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: defaultEvents,
            editable: true,
            droppable: true, // this allows things to be dropped onto the calendar !!!
            eventLimit: true, // allow "more" link when too many events
            selectable: true,
            drop: function(date) { $this.onDrop($(this), date); },
            select: function (start, end, allDay) { $this.onSelect(start, end, allDay); },
            eventClick: function(calEvent, jsEvent, view) { $this.onEventClick(calEvent, jsEvent, view); }

        });

        //on new event
        this.$saveCategoryBtn.on('click', function(){
            var categoryName = $this.$categoryForm.find("input[name='category-name']").val();
            var categoryColor = $this.$categoryForm.find("select[name='category-color']").val();
            if (categoryName !== null && categoryName.length != 0) {
                $this.$extEvents.append('<div class="col external-event bg-' + categoryColor + '" data-class="bg-' + categoryColor + '" style="position: relative;"><i class="fa fa-hand-o-right"></i>' + categoryName + '</div>')
                $this.enableDrag();
            }

        });
    },

   //init CalendarApp
    $.CalendarApp = new CalendarApp, $.CalendarApp.Constructor = CalendarApp
    
}(window.jQuery),// End of use strict

//initializing CalendarApp
function($) {
    "use strict";
    $.CalendarApp.init()
	
}(window.jQuery);// End of use strict









</script>



{% endblock %}



